
$bg-transferencia: #512da8;
$bg-retornar: #184A8C;
$bg-encerrar: #E74C3C;


#rodape-botoes-encerramento-container{
  width: 100%;
  position: absolute;
  bottom: 5px;
  @include d-flex-center();

  .rodape-botoes-encerramento{
    @include d-flex-center();
    width: 100%;
    height: 40px;
    .rodape-botoes-botao{
      @include estilo-botao(-3px, -1px);
      color: #FFF;
      margin: 0 5px;
      width: 100%;
      transition: width 250ms;
      &.semIframe{
        width: 20%
      }
      height: 100%;
      @include d-flex-center();
      padding: 5px;
      svg{
        margin-right: 5px;
        font-size: 1rem;
      }
      span{
        font-size: .9rem;
      }
      &.botao-transferencia{
        background-color: $bg-transferencia;
        svg{
          color: darken($bg-transferencia, 30);
        }
      }
      &.botao-retornar{
        margin: 0;
        background-color: $bg-retornar;
        svg{
          color: darken($bg-retornar, 20)
        }
      }
      &.botao-encerrar{
        background-color: $bg-encerrar;
        svg{
          color: darken($bg-encerrar, 30);
        }
      }
    }
  }
}