@import 'default';

.chat-opcoes{
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  height: 10%; // *
  max-height: $alturaMaxTitulos;
  border-bottom: 1px solid #CCC;
  .chat-opcoes-titulo{
    // user-select: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    // background-color: #93BD94;
    background-color: $cor;
    p{
      white-space: nowrap;
      font-size: .75rem;
      margin: 0 5px;
      color: #FFF;
    }
    h1{
      color: #FFF;
      font-size: 1.2rem;
      margin: 0;
      margin-left: 15px;
      svg{
        font-size: 1.3rem;
      }
    }
    .chat-opcoes-titulo-container{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative;
      .circulo-contatos{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        background-color: #FFF;
        p{
          color: #000;
          margin: 0;
          padding: 0;
          font-weight: bold;
          user-select: none;
          text-align: center;
          height: auto;
          width: auto;
        }
      }
      .chat-opcoes-titulo-container--lista{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
          font-size: .8rem;
          margin: 0;
          padding: 0;
          color: #FFF;
          &:nth-child(1){
            font-size: 1rem;
            font-weight: bold
          }
        }
      }
      .chat-opcoes-titulo-container--logo{
        position: absolute;
        right: 10px;
        img{
          height: 1.8rem;
        }
        svg{
          font-size: 1.4rem;
          color: #FFF;
        }
      }
    }
  }
  .chat-opcoes-infos{
  display: none;
  }
}