$altura: 50px;

.chat-rodape{
  display: flex;
  // background-color: #93BD94;
  background-color: darken(#eeeeee, 20);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 30%; // *
  .chat-rodape-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-bottom: 0;
    width: 100%;
  }
  .chat-rodape-mensagens{
    height: 50px;
    width: 75%;
    &.anexo-aberto{
      width: 65%;
    }
    .chat-rodape-textarea{
      position: relative;
      textarea{
        width: 100%;
        resize: none;
        border-radius: 30px;
        height: $altura;
        &:focus, &:active{
          outline: 0;
        }
        font-size: .9rem;
        padding-left: 15px;
        padding-top: 10px;
        border: 1px solid #CCC;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .chat-rodape-previa-img{
        height: 50px;
        border-radius: 10px;
        border: 1px solid #CCC;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: #FFF;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5px;
        img{
          margin: 5px;
          max-height: 35px;
        }
        h3{
          font-size: 1rem;
          color: #444;
        }
        h4{
          font-size: .8rem;
          color: #444;
        }
      }
      .caracteres-disponiveis{
        font-size: .7rem;
        z-index: 1;
        color: #444;
        position: absolute;
        left: 15px;
        bottom: -15px;
      }
    }
  }
  .chat-rodape-botoes{
    width: 25%;
    &.anexo-aberto{
      width: 35%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCC;
    border-radius: 30px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: $altura;
    background-color: #FFF;
    .chat-rodape-botoes-botao{
      color: #777;
      transition-duration: .5s;
      border-radius: 50%;
      font-size: .9rem;
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover, &.btn-ativo{
        background-color: rgba(0, 0, 0, 0.1)
      }
      &.botao-enviar-anexo{
        position: relative;
      }

      .chat-rodape-anexo-opcoes{
        position: absolute;
        left: -1px;
        bottom: 40px;
        padding: 5px;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        > div{
          margin: 0 auto;
          text-align: center;
          border-radius: 10px;
          padding: 3px;
          color: #444;
          svg{
            color: #FFF
          }
          &:nth-child(1){
            background-color: #9575cd;
            margin-right: 5px;
          }
          &:nth-child(2){
            background-color: #7986cb 
          }
        }
      }
    }
  }
  .chat-rodape-hsm{
    width: 100%;
    margin: 10px;
    padding: 5px;
    margin-bottom: 0;
    position: relative;
    .select-hsm-container{
      display: flex;
      // justify-content: center;
      align-items: center;
      h3{
        margin: 0;
        margin-right: 5px;
        font-size: 1rem;
      }
      #select-hsm{
        font-size: .9rem;
        max-width: 270px;
      }
    }
    .hsm-btn{
      position: absolute;
      right: 0;
      @include estiloBotao(-4px, -2px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      width: fit-content;
      background-color: #F2CA50;
      color: #FFF;
      svg{
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: darken(#F2CA50, 40)
      }
    }
  }
  .chat-rodape-botoes-encerramento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    .chat-rodape-botoes-botao{
      @include estiloBotao(-3px, -1px);
      color: #FFF;
      &{
        margin: 0;
        width: 48%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:nth-child(1){
        margin-right: 1%;
      }
      svg{
        margin-right: 5px;
        font-size: 1.2rem;
      }
      &.botao-encerrar{
        background-color: #E74C3C;
        svg{
          color: #BE1E2A
        }
      }
      &.botao-retornar{
        background-color: #184A8C;
        svg{
          color: #012136
        }
      }
      
    }
  }
}