:root{
  --altura-chat-corpo: 68%;
}

#chat-operador{
  padding: unset!important;
  @include chat-corpo;
  height: var(--altura-chat-corpo);
  transition-duration: 300ms;
  box-shadow: inset 5px 0px 15px -5px rgba(0,0,0,0.5);
}

#chat-load-container{
  width: 100%;
  @include d-flex-center();
  flex-direction: column;
}

#chat-error-container{
  p{
    text-align: center;
    margin: 0;
    &:nth-child(1){
      margin-bottom: 5px;
      font-weight: bold;
    }
    &.refresh{
      transform: .5s;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

$cor-separador: #BBB;

.chat-corpo-container{
  position: relative;
  @include d-flex-center("vertical");
  justify-content: flex-start;
  height: 12px;
  margin-bottom: 5px;
  div{
    flex: 1;
  }
  .separador-mensagens{
    font-size: .7rem;
    color: $cor-separador;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: 1.5px;
    margin: 0;
  }
  hr{
    border: 0;
    height: 0.5px;
    background-color: $cor-separador;
    width: 100%;
  }
}

.tooltip-list{
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.tooltip-titulo-status-message{
  margin-bottom: 0;
}

.container-msg-erro{
  width:  85%;
  border-radius: 10px;
  background-color: lighten($bg-encerrar, 10);
  margin: 0 auto;
  padding: 0;
  .msg-erro{
    text-align: center;
    color: #FFF;
    padding: 10px;
    margin: 0!important;
    white-space: normal!important;
  }
}
