:root{
  --altura-chat-corpo: 68%;
}

#chat-operador{
  padding: unset!important;
  @include chat-corpo;
  height: var(--altura-chat-corpo);
  transition-duration: 300ms;
  box-shadow: inset 5px 0px 15px -5px rgba(0,0,0,0.5);
}

#chat-load-container{
  width: 100%;
  @include d-flex-center();
  flex-direction: column;
}

#chat-error-container{
  p{
    text-align: center;
    margin: 0;
    &:nth-child(1){
      margin-bottom: 5px;
      font-weight: bold;
    }
    &.refresh{
      transform: .5s;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

$cor-separador: #555;

.chat-corpo-container{
  position: relative;
  @include d-flex-center();
  margin-bottom: 10px;
  div{
    background: #DDD;
    z-index: 2;
  }
  .separador-mensagens{
    font-size: .8rem;
    color: $cor-separador;
    text-align: center;
    padding: 1.5px;
    margin: 0;
  }
  hr{
    border: 0;
    height: 1px;
    background-color: $cor-separador;
    width: 100%;
    position: absolute
  }
}
