#chat{
  &.z-index-superior{
    z-index: 10
  }
  height: 100%;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: darken(#eeeeee, 20);
  position: relative;
  .lista-chat-container-vazio{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    div{
      font-size: 1.1rem;
      color: lighten(#222, 10);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}