#chat{
  &.z-index-superior{
    z-index: 10
  }
  height: 100%;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: darken(#eeeeee, 20);
  position: relative;
  .lista-chat-container-vazio{
    height: calc(100% - 58px);
    @include d-flex-center();
    background-color: #FFF;
    div{
      font-size: 1.1rem;
      color: lighten(#222, 10);
      @include d-flex-center();
      flex-wrap: wrap;
      p{
        text-align: center;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}