#chat{
  width: 30vw;
  transition-duration: .5s;
  // .chat-corpo-rodape{
    // box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  // }
  &.chat-aberto{
    width: 45vw!important;
  }
  .lista-chat-container-vazio{
    // width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    div{
      font-size: 1.1rem;
      color: lighten(#222, 10);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
        width: 100%;
      }
    }
  }
}