$altura: 50px;
$margin: 10px;

$tamanhoEmoji: 20%;
$tamanhoTextarea: 100% - $tamanhoEmoji;

.chat-rodape{
  background-color: darken(#eeeeee, 20);
  height: 15%; // *
  .chat-rodape-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: $margin 0;
  }
  .chat-rodape-mensagens{
    height: $altura;
    width: 75%;
    margin-left: $margin;
    &.anexo-aberto{
      width: 65%;
    }
    .chat-rodape-textarea{
      max-height: $altura;
      position: relative;
      #emoji-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: $tamanhoEmoji;
        background-color: #FFF;
        position: absolute;
        left: 0;
        border-radius: 30px;
        height: $altura;
        border: 1px solid #CCC;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        .btn-emoji{
          opacity: .8;
          transition-duration: .3s;
          cursor: pointer;
          font-size: 1.2rem;
          &:hover{
            opacity: 1;
          }
        }
        .lista-emoji{
          $alturaUl: 70px;
          position: absolute;
          top: -($alturaUl);
          left: 30px;
          width: 170px;
          border-radius: 10px;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 5px;
          ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            height: $alturaUl;
            overflow-y: auto;
            li{
              padding: 0;
              margin: 2px;
              opacity: .8;
              transition-duration: .3s;
              font-size: 1.125rem;
              cursor: pointer;
              &:hover{
                opacity: 1;
              }
            }
          }
        }
      }
      textarea{
        margin-left: $tamanhoEmoji;
        width: $tamanhoTextarea;
        resize: none;
        min-height: $altura;
        height: $altura;
        max-height: $altura;
        font-size: .9rem;
        padding-left: 15px;
        padding-top: 10px;
        border: 1px solid #CCC;
        border-left: 0;
        border-right: 0;
        &:focus, &:active{
          outline: 0;
        }
      }
      .chat-rodape-previa-img{
        height: $altura;
        border-radius: 30px;
        border: 1px solid #CCC;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: #FFF;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5px;
        img{
          margin: 5px;
          max-height: 35px;
        }
        h3{
          font-size: 1rem;
          color: #444;
        }
        h4{
          font-size: .8rem;
          color: #444;
        }
      }
      .caracteres-disponiveis{
        font-size: .575rem;
        z-index: 1;
        color: #444;
        position: absolute;
        right: 0;
        top: -10px;
      }
    }
  }
  .chat-rodape-botoes{
    margin-right: $margin;
    width: 25%;
    &.anexo-aberto{
      width: 35%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCC;
    border-radius: 30px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: $altura;
    background-color: #FFF;
    .chat-rodape-botoes-botao{
      color: #777;
      transition-duration: .5s;
      border-radius: 50%;
      font-size: .9rem;
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover, &.btn-ativo{
        background-color: rgba(0, 0, 0, 0.1)
      }
      &.botao-enviar-anexo{
        position: relative;
      }

      .chat-rodape-anexo-opcoes{
        position: absolute;
        top: -($altura);
        right: 20px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        > div{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 3px;
          width: 40px;
          height: 40px;
          font-size: 1rem;
          color: #FFF;
          svg{
            color: #FFF;
          }
          &.imagens{
            background-color: #9575cd;
            margin-right: 5px;
          }
          &.docs{
            background-color: #7986cb;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.z-index-2{
  z-index: 2
}