@import 'default';

.chat-opcoes{
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  height: 10%; // *
  max-height: $alturaMaxTitulos;
  border-bottom: 1px solid #FFF;
  .chat-opcoes-titulo{
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    // background-color: #93BD94;
    background-color: $cor;
    p{
      white-space: nowrap;
      font-size: .75rem;
      margin: 0 5px;
      color: #FFF;
    }
    h1{
      color: #FFF;
      font-size: 1.2rem;
      margin: 0;
      margin-left: 15px;
      svg{
        font-size: 1.3rem;
      }
    }
  }
  .chat-opcoes-infos{
  display: none;
  }
}