$altura: 50px;
$margin-lateral: 3px;
$maxAltura: 70px;
$tamanhoEmoji: 40px;
$border-radius: 30px;

.chat-rodape{
  background-color: darken(#eeeeee, 20);
  position: relative;
  transition-duration: 300ms;
  .chat-rodape-container{
    @include d-flex-center('vertical');
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
    position: relative;
  }
  .chat-rodape-mensagens{
    max-height: $maxAltura;
    min-height: $altura;
    height: $altura;
    width: 100%;
    margin-left: $margin-lateral;
    .chat-rodape-textarea{
      display: flex;
      width: 100%;
      max-height: $maxAltura;
      height: $altura;
      min-height: $altura;
      position: relative;
      #emoji-container{
        @include d-flex-center();
        width: $tamanhoEmoji;
        max-height: $maxAltura;
        min-height: $altura;
        background-color: #FFF;
        position: absolute;
        left: 0;
        border-radius: $border-radius;
        height: $altura;
        @include border();
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        .btn-emoji{
          margin-left: 5px;
          font-size: 1.2rem;
          
          @include efeito-hover-padrao();
        }
        .lista-emoji{
          $alturaUl: 70px;
          position: absolute;
          top: -($alturaUl);
          left: 30px;
          width: 170px;
          border-radius: 10px;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 5px;
          ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            height: $alturaUl;
            overflow-y: auto;
            li{
              padding: 0;
              margin: 2px;
              font-size: 1.125rem;
              
              @include efeito-hover-padrao();
            }
          }
        }
      }
      textarea{
        resize: none;
        min-height: $altura;
        max-height: $maxAltura;
        font-size: .775rem;
        padding: 5px;
        line-height: 15px;
        &:focus, &:active{
          outline: 0;
        }
      }
      textarea{
        margin-left: $tamanhoEmoji;
        height: $altura;
        @include border();
        border-left: 0;
        border-right: 0;
        flex: 1;
      }
      
      .caracteres-disponiveis{
        font-size: .575rem;
        z-index: 1;
        color: #444;
        position: absolute;
        right: -30px;
        bottom: -11px;
      }
    }
  }
  .container-previa-img{
    overflow: hidden;
    position: absolute;
    top: -205px;
    height: 200px;
    &.previa-anexo{
      top: -50px;
      height: 45px;
    }
    &.previa-anexo-erro{
      top: -105px;
      height: 100px;
    }
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #AAA;
    @include d-flex-center('horizontal');
    align-items: flex-start;
    flex-wrap: wrap;
    h3, h4{
      margin: 10px;
      width: 100%;
      font-size: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    h4{
      font-size: .9rem
    }
    .formato-invalido{
      @include d-flex-center();
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      h3{
        font-weight: bold;
      }
      h3, h4{
        width: auto;
      }
    }
    .div-previa{
      width: 100%;
      height: 145px;
      @include d-flex-center('horizontal');
      background-color: rgba(0, 0, 0, 0.1);
      overflow: unset;
      img{
        padding: 2%;
        max-width: 98%;
        max-height: 98%;
      }
    }
  }
  .btn-excluir-anexo{
    width: 1.6rem;
    height: 1.6rem;
    background-color: #FFF;
    border-radius: 50%;
    @include d-flex-center();
    position: absolute;
    right: 15px;
    top: -220px;
    &.previa-anexo{
      top: -65px;
    }
    &.previa-anexo-erro{
      top: -120px;
    }
    cursor: pointer;
    z-index: 2;
    opacity: .9;
    transition-duration: 300ms;
    &:hover{
      opacity: 1;
    }
    svg{
      font-size: 2rem;
      color: #BE1E2A;
    }
  }
  .chat-rodape-botoes{
    margin-right: $margin-lateral;
    > div{
      @include d-flex-center('vertical');
      justify-content: flex-end;
      @include border();
      border-radius: $border-radius;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: $altura;
      background-color: #FFF;
      max-height: $maxAltura;
      min-height: $altura;
    }
    .chat-rodape-botoes-botao{
      color: #777;
      transition-duration: 500ms;
      border-radius: 50%;
      font-size: 1rem;
      padding: 10px;
      cursor: pointer;
      @include d-flex-center();
      &:hover, &.btn-ativo{
        background-color: rgba(0, 0, 0, 0.1)
      }
      &.botao-enviar-anexo{
        position: relative;
      }

      .chat-rodape-anexo-opcoes{
        position: absolute;
        top: -($altura);
        right: 20px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        > div{
          @include d-flex-center();
          border-radius: 10px;
          padding: 3px;
          width: 40px;
          height: 40px;
          font-size: 1rem;
          color: #FFF;
          svg{
            color: #FFF;
          }
          &.imagens{
            background-color: #9575cd;
            margin-right: 5px;
          }
          &.docs{
            background-color: #7986cb;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .chat-rodape-msg-formatada{
    width: 95%;
    @include d-flex-center();
    flex-direction: column;
    margin: 15px auto;
    .select-03{
      @include d-flex-center('vertical');
      width: 100%;
      select{
        width: 90%;
      }
      .btn-select-03{
        @include estilo-botao(-3px, -1px);
        @include d-flex-center();
        margin-left: 5px;
        background-color: #F7FE72;
        width: 32px;
        height: 32px;
        svg{
          font-size: 1rem;
        }
      }
    }
    .select-msg-formatada{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
      padding: 4px 8px;
      color: #333;
      background-color: #EEE;
      @include border(1px, #DDD);
      cursor: pointer;
      border-radius: 5px;
      transition-duration: 200ms;
      width: 100%;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 10px;
      background-size: 20px;

      &:focus,
      &:hover{
        outline: none;
        @include border(1px, #999);
      }
      option{
        background-color: #FFF;
      }
    }
  }
}

.z-index-2{
  z-index: 2
}