.chat-opcoes{
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  border-bottom: 2px solid #93BD94;
  height: 10vh;
  .chat-opcoes-titulo{
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: #93BD94;
    p{
      white-space: nowrap;
      font-size: .95rem;
      margin: 0 3%;
      color: #FFF;
    }
  }
  .chat-opcoes-infos{
  display: none;
  }
}