@import 'default';
#todos-contatos{
  width: 20vw;
  height: 100vh;
  transition-duration: .5s;
  &.fechado{
    // height: 10vh!important;
    width: 5vw!important;
  }
  background-color: rgba(100, 100, 100, 0.1);
  > div{
    margin: 0 auto;
    width: 95%;
  }
  .titulo-contatos{
    position: relative;
    // background-color: #42a5f5;
    background-color: lighten($cor, 10);
    height: 10vh;
    max-height: $alturaMaxTitulos;
    width: 100%;
    border-bottom: 1px solid #CCC;
    display: flex;
    align-items: center;
    div{
      position: absolute;
      bottom: 5px;
      right: 15px;
      transition-duration: .5s;
      &.rotate{
        transform: rotate(-180deg);
      }
      svg.flecha{
        font-size: 1.5rem;
        cursor: pointer;
        color: #FFF;
      }
    }
    h1 {
      color: #FFF;
      margin-left: 10px;
      font-size: 1.2rem
    }
  }
  ul{
    padding: 0;
    max-height: 87vh;
    overflow-y: auto;
    transition-duration: .5s;
    &.fechado{
      li{
        padding-left: 10px;
        p{
          margin: 0;
          min-height: 35px;
          min-width: 35px;
        }
      }
    }
    li{
      padding: 0 10px;
      transition-duration: .4s;
      font-size: .9rem;
      display: flex;
      align-items: center;
      list-style-type: none;
      height: 50px;
      cursor: pointer;
      border-bottom: 1px solid #CCC;
      position: relative;
      p{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        margin-right: 10px;
        font-weight: 600;
        user-select: none;
      }
      .ativo{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        position: absolute;
        right: 3px;
        top: 3px;
      }
      svg{
        margin-right: 5px;
        font-size: 1.2rem;
      }
      &:nth-child(odd){
        p{
          background-color: #FFF;
        }
        background-color: rgba(100, 100, 100, 0.1);
        &:hover{
          background-color: rgba(100, 100, 100, 0.3)
        }
      }
      &:nth-child(even){
        p{
          background-color: #CCC;
        }
        background-color: #FFF;
        &:hover{
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.lista-contatos-container-vazio{
  // width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  div{
    font-size: 1.1rem;
    color: lighten(#222, 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      width: 100%;
    }
  }
}