#todos-contatos{
  width: 19.9vw;
  height: 100vh;
  border-right: .1vw solid #000;
  > div{
    margin: 0 auto;
    width: 95%;
  }
  .titulo-contatos{
    height: 10vh;
    border-bottom: 1px solid #CCC;
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.4rem
    }
  }
}