:root{
  --cor: #CCC;
  --tamanho-titulos: 33px;

  --width-padrao-contatos: 20%;
  --width-padrao-chat: 48%;
}

$bg-transferencia: #512da8;
$bg-retornar: #184A8C;
$bg-encerrar: #E74C3C;

html, body{
  height: 100%;
  width: 100%;
}

body{
  @include d-flex-center();
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #EEE;
  // text-rendering: optimizeLegibility;
  font-family: "Noto Sans", "Open sans", sans-serif;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.tamanho-titulos{
  max-height: var(--tamanho-titulos);
}

.resizable-content{
  width: 100%;
  height: 100%;
}

.toasted.toasted-primary.error{
  svg{
    margin-right: 15px;
  }
}

.d-none{
  display: none
}

*{
  scrollbar-color: #888 rgba(0, 0, 0, 0.2);
  scrollbar-width: auto;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb{
  transition-duration: .5s;
  background-color: #888
}

::-webkit-scrollbar-thumb:hover{
  background-color: #555
}

.toasted.toasted-primary.info, .toasted.toasted-primary.success{
  svg{
    margin-right: 10px
  }
}

.resizable-r{
  z-index: 2!important
}

@media (min-width: 1441px) and (min-height: 850px){
  body:after{
    content: "";
    width: 100%;
    height: 200px;
    background-color: #666;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
