#informacoes{
  // position: relative;
  transition: .5s;
  right: -1px;
  height: 100%; // *
  width: 50%; // *
}

.container-principal-informacoes{
  height: 10%; // *
  max-height: $alturaMaxTitulos;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: darken($cor, 10);
  color: #FFF;
}

.informacoes-titulo{
  display: flex;
  align-items: center;
  height: $alturaMaxTitulos;
  h1{
    font-size: 1.2rem;
    margin: 0;
    margin-left: 5px;
  }
  svg{
    margin-left: 15px;
  }
}

.informacoes-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $alturaMaxTitulos;
  width: 90%;
  font-size: .8375rem;
  margin-right: 15px;
  .informacoes-item{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .informacoes-item-titulo{
      display: flex;
      p{
        white-space: nowrap;
        margin: 0;
        margin-left: 5px;
      }
    }
  }
}

.lista-informacoes-container-vazio{
  // width: 100%;
  height: 90%; // *
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  div{
    font-size: 1.1rem;
    color: lighten(#222, 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      width: 100%;
      white-space: nowrap;
    }
  }
}

.lista-informacoes-container{
  margin-top: 15px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .iframe-informacoes{
    width: 100%;
    height: 75%;
    padding: 5px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  .container-acoes{
    width: 100%;
    height: 25%;
  }
}