#informacoes{
  width: 50%;
  flex: 1;
  transition: .5s;
}

.container-principal-informacoes{
  height: 100%;
  width: 100%;
  position: relative;
}

.informacoes-titulo{
  display: flex;
  align-items: center;
  height: 10%;
  max-height: $alturaMaxTitulos;
  background-color: darken($cor, 10);
  border-bottom: 1px solid #CCC;
  color: #FFF;
  width: 100%;
  h1{
    font-size: 1.2rem;
    margin: 0;
    margin-left: 5px;
  }
  svg{
    margin-left: 15px;
  }
}

.lista-informacoes-container{
  height: 79%;
  .iframe-informacoes{
    width: 100%;
    height: 100%;
    padding: 5px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}

.container-acoes{
  height: 11%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacoes-superiores-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $alturaMaxTitulos;
  width: 90%;
  font-size: .8375rem;
  margin-right: 15px;
  .informacoes-item{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .informacoes-item-titulo{
      display: flex;
      p{
        white-space: nowrap;
        margin: 0;
        margin-left: 5px;
      }
    }
    p{
      margin-left: 15px;
    }
  }
}

.lista-informacoes-container-vazio{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  div{
    font-size: 1.1rem;
    color: lighten(#222, 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      width: 100%;
      white-space: nowrap;
    }
  }
}