:root{
  --bg-alternativo: #00005A;
}

#popup{
  position: absolute;
  z-index: 3;
  top: 0;
  transition-duration: 500ms;
  height: 100%;
  width: 100%;
  @include d-flex-center();
  padding: 10px;
  .popup-container-geral{
    background-color: lighten(#FFF, 15);
    @include d-flex-center('vertical');
    flex-wrap: wrap;
    .popup-titulo{
      margin: 0;
      font-size: 1.5rem;
      font-weight: 100;
      padding: 5px 10px;
      width: 100%;
      color: #FFF;
      background-color: var(--cor);
    }
    .popup-container{
      @include d-flex-center();
      flex-direction: column;
      width: 100%;
      margin: 10px auto;
      .popup-lista{
        display: flex;
        list-style-type: none;
        margin: 10px auto;
        padding: 0;
        &.tres-mais{
          flex-direction: column;
          li{
            &:nth-child(2n){
              margin: 10px 0;
            }
          }
        }
        li{
          @include estilo-botao(-4px, -2px, 1, var(--cor));
          min-width: 85px;
          height: 45px;
          background-color: #FFF;
          @include d-flex-center();
          @include border(1px, #999);
          border-bottom: 0;
          padding: 0 10px;
          &:nth-child(2){
            margin: 0 15px;
          }
          &#encerrarAtendimento:focus{
            outline: none;
          }
        }
        &.bg{
          li{
            box-shadow: inset 0 -3px var(--bg-alternativo);
            &:active{
              box-shadow: inset 0 -1px var(--bg-alternativo);
            }
          }
        }
      }
      .popup-container-tela-2{
        @include d-flex-center();
        flex-direction: column;
        min-width: 200px;
        > div{
          width: 100%;
          > input{
            width: 100%;
          }
        }
      }
      .btns-confirmacao-container{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
        
        .btn-confirmar, .btn-cancelar{
          @include estilo-botao(-4px, -2px, 1, var(--cor));
          min-width: 48%;
          height: 45px;
          background-color: #FFF;
          @include d-flex-center();
          @include border(1px, #999);
          border-bottom: 0;
          padding: 0 10px;
          margin-top: 10px;
        }
        &.bg{
          .btn-confirmar, .btn-cancelar{
            box-shadow: inset 0 -4px var(--bg-alternativo);
            &:active{
              box-shadow: inset 0 -2px var(--bg-alternativo);
            }
          }
        }
      }
    }
  }
}

:root{
  --bg-calendar: var(--cor);
}

.theme-custom .vdatetime-popup__header,
.theme-custom .vdatetime-calendar__month__day--selected > span > span,
.theme-custom .vdatetime-calendar__month__day--selected:hover > span > span {
  background: var(--bg-calendar);
}

.theme-custom .vdatetime-year-picker__item--selected,
.theme-custom .vdatetime-time-picker__item--selected,
.theme-custom .vdatetime-popup__actions__button {
  color: var(--bg-calendar);
}