:root{
  --bg-alternativo: #999;
}

#popup{
  position: absolute;
  z-index: 3;
  top: 0;
  transition-duration: .5s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  > div{
    background-color: lighten(#FFF, 15);
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    .popup-titulo{
      margin: 0;
      font-size: 1.5rem;
      font-weight: 100;
      padding: 5px 10px;
      width: 100%;
      color: #FFF;
      background-color: lighten($cor, 15);
    }
    > ul{
      display: flex;
      list-style-type: none;
      margin: 10px auto;
      padding: 0;
      &.tres-mais{
        flex-direction: column;
        li{
          &:nth-child(2n){
            margin: 10px 0;
          }
        }
      }
      li{
        @include estiloBotao(-4px, -2px, 1, $cor);
        min-width: 85px;
        height: 45px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #999;
        border-bottom: 0;
        padding: 0 10px;
        &:nth-child(2){
          margin: 0 15px;
        }
      }
      &.bg{
        li{
          box-shadow: inset 0 -4px var(--bg-alternativo);
          &:active{
            box-shadow: inset 0 -2px var(--bg-alternativo);
          }
        }
      }
    }
    div[grupos-transferir],
    div[grupos-agentes],
    div[agendar-retorno]{
      width: 100%;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      > div{
        min-width: 200px;
      }
      > input{
        outline: unset;
        border-radius: 3px;
        padding: 7px;
        border: 1px solid #CCC;
      }
    }
    div[agendar-retorno]{
      display: flex;
      flex-direction: column;
      .btns-agendamento-container{
        display: flex;
        margin: 0;
        padding: 0;
        .btn-cancelar-agendamento{
          margin-left: 10px;
        }
        .btn-confirmar-agendamento, .btn-cancelar-agendamento{
          @include estiloBotao(-4px, -2px, 1, $cor);
          min-width: 85px;
          height: 45px;
          background-color: #FFF;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #999;
          border-bottom: 0;
          padding: 0 10px;
          margin-top: 10px;
        }
        &.bg{
          .btn-confirmar-agendamento, .btn-cancelar-agendamento{
            box-shadow: inset 0 -4px var(--bg-alternativo);
            &:active{
              box-shadow: inset 0 -2px var(--bg-alternativo);
            }
          }
        }
      }
    }
  }
}