#popup{
  z-index: 2;
  min-width: 200px;
  background-color: lighten(#FFF, 15);
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
  > h2{
    font-size: 1.5rem;
    font-weight: 100;
    padding: 5px 10px;
    width: 100%;
    color: #FFF;
    background-color: lighten($cor, 15);
  }
  > ul{
    display: flex;
    list-style-type: none;
    margin: 15px auto;
    padding: 0;
    li{
      @include estiloBotao(-4px, -2px, 1, $cor);
      min-width: 85px;
      height: 45px;
      background-color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #999;
      border-bottom: 0;
      padding: 0 10px;
      &:nth-child(2){
        margin: 0 15px;
      }
    }
  }
  div[grupos-transferir]{
    min-height: 150px;
    width: 80%;
    min-width: 300px;
    margin: 15px auto;
  }
}