$divider-size: 4px;
$divider-color: #333;

.resizable{
  width: $divider-size!important;
  height: 100%;
  background-color: $divider-color;
  cursor: w-resize;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
